---
import Card from "./Card.astro";
import Divider from "./Divider.astro";
import TechItem from "./TechItem.astro";

const {
    id,
    jobPicture,
    jobTitle,
    jobTime,
    jobCompany,
    jobDescription,
    jobActivities,
    jobTechnologies,
    jobColor,
} = Astro.props;
---

<style>
    /* Card picture */

    .card-picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        gap: 1rem;
    }

    .card-picture img {
        width: 200px;
        height: fit-content;
    }

    /* Card data */

    .card-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
    }

    /* Card header */

    .card-header {
        display: flex;
        flex-direction: column;
    }

    .card-header .job-title {
        font-size: 1.45rem;
    }

    .card-header .job-time {
        color: var(--gray);
        font-weight: 600;
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    .card-header .job-company {
        font-weight: 600;
        font-size: 1rem;
        color: var(--primary_3);
    }

    /* Job description */

    .card-data .description {
        margin: 1rem 0;
    }

    /* Accordion */

    .accordion {
        flex-direction: column;
        max-height: 0;
        display: flex;
        overflow: hidden;
        transition: all 350ms ease;
    }

    .accordion.expanded {
        max-height: 500px;
    }

    .accordion-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .accordion-section ul {
        list-style: outside;
        color: var(--text_2);
        font-size: 0.9rem;
        margin-left: 1.1rem;
    }

    .accordion-title {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text);
    }

    /* Tech list */

    .tech-list {
        display: flex;
        list-style: none;
        column-gap: 1.1rem;
        row-gap: 0.45rem;
        width: 95%;
        flex-wrap: wrap;
        margin-left: 0 !important;
        white-space: nowrap;
    }

    /* Accordion button */

    .accordion-btn {
        padding: 0;
        width: fit-content;
        font-size: 0.85rem;
        border-radius: 6px;
        gap: 0.35rem;
        color: var(--primary_2);
        background-color: transparent;
    }

    .accordion-btn span {
        display: flex;
        align-items: center;
        gap: 0.35rem;
    }

    .accordion-btn svg {
        stroke: var(--primary_2);
        transition: transform 100ms ease;
    }

    .accordion-btn.expanded svg {
        transform: rotate(180deg);
    }

    .accordion-btn .see-less {
        display: none;
    }

    .accordion-btn.expanded .see-less {
        display: flex;
    }

    .accordion-btn.expanded .see-more {
        display: none;
    }
</style>
<Card>
    <div class="card-picture">
        <img
            src={`/jobs/${jobPicture}`}
            alt={`Logo of ${jobCompany} where I worked as a ${jobTitle}`}
        />
    </div>
    <Divider />
    <div class="card-data">
        <div class="card-header">
            <h1 class="job-title">{jobTitle}</h1>
            <span class="job-company">{jobCompany}</span>
            <span class="job-time">{jobTime}</span>
        </div>
        <p class="description">{jobDescription}</p>
        <div class="accordion" id={`accordion-${id}`}>
            <div class="accordion-section">
                <span class="accordion-title">Actividades</span>
                <ul>
                    {jobActivities.map((activity) => <li>{activity}</li>)}
                </ul>
            </div>
            <div class="accordion-section">
                <span class="accordion-title">Tecnologías</span>
                <ul class="tech-list">
                    {
                        jobTechnologies.map((technology) => (
                            <TechItem
                                name={technology.name}
                                icon={technology.icon}
                            />
                        ))
                    }
                </ul>
            </div>
        </div>
        <button
            class="btn accordion-btn"
            data-target={`accordion-${id}`}
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                height="21"
                width="21"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
            </svg>
            <span class="see-more">Ver más</span>
            <span class="see-less">Ver menos</span>
        </button>
    </div>
</Card>
