---
import AccordionButton from "./AccordionButton.astro";
import TechItem from "./TechItem.astro";
import "../styles/job-card.css";

const {
    id,
    jobPicture,
    jobTitle,
    jobTime,
    jobCompany,
    jobDescription,
    jobActivities,
    jobTechnologies,
    jobColor,
} = Astro.props;
---

<article class="job-card">
    <span class="circle"></span>
    <div class="job-picture">
        <img
            src={`/jobs/${jobPicture}`}
            alt={`Logo of ${jobCompany} where I worked as a ${jobTitle}`}
            loading="lazy"
        />
    </div>
    <div class="job-data">
        <div class="job-header">
            <h1 class="job-title">{jobTitle}</h1>
            <span class="job-company">{jobCompany}</span>
            <span class="job-time">{jobTime}</span>
        </div>
        <p class="description">{jobDescription}</p>
        <div class="accordion" id={`accordion-${id}`}>
            <div class="accordion-section">
                <span class="accordion-title">Actividades</span>
                <ul>
                    {jobActivities.map((activity) => <li>{activity}</li>)}
                </ul>
            </div>
            <div class="accordion-section">
                <span class="accordion-title">Tecnologías</span>
                <ul class="tech-list">
                    {
                        jobTechnologies.map((technology) => (
                            <TechItem
                                name={technology.name}
                                icon={technology.icon}
                            />
                        ))
                    }
                </ul>
            </div>
        </div>
        <AccordionButton dataTarget={id} />
    </div>
</article>
