---
import AccordionButton from "./AccordionButton.astro";
import Card from "./Card.astro";
import Divider from "./Divider.astro";
import TechItem from "./TechItem.astro";

const {
    id,
    jobPicture,
    jobTitle,
    jobTime,
    jobCompany,
    jobDescription,
    jobActivities,
    jobTechnologies,
    jobColor,
} = Astro.props;
---

<style>
    .job-card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        gap: 1rem;
    }

    .circle {
        position: absolute;
        top: 0;
        left: -10px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background: var(--primary); /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to bottom,
            var(--primary),
            #fdc830
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to bottom,
            var(--primary),
            #fdc830
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        z-index: 1;
    }

    /* Card picture */

    .job-picture {
        top: 0;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 120px;
        width: 120px;
        object-fit: contain;
        border-radius: 1rem;
        background-color: #fff;
    }

    .job-picture > img {
        width: 100%;
        height: auto;
    }

    /* Card data */

    .job-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Card header */

    .card-header {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .job-title {
        font-size: 1.45rem;
        /* color: var(--text_2); */
    }

    .job-time {
        color: var(--text_2);
        font-weight: 500;
        font-size: 0.87rem;
        margin-top: 0.5rem;
    }

    .job-company {
        font-weight: 600;
        font-size: 0.9rem;
        color: var(--gray);
    }

    /* Job description */

    .job-data .description {
        margin: 1.3rem 0;
    }

    /* Accordion */

    .accordion {
        flex-direction: column;
        max-height: 0;
        display: flex;
        overflow: hidden;
        transition: all 350ms ease;
    }

    .accordion.expanded {
        max-height: 500px;
    }

    .accordion-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.3rem;
    }

    .accordion-section ul {
        list-style: outside;
        color: var(--text_2);
        font-size: 0.9rem;
        margin-left: 1.1rem;
    }

    .accordion-title {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text);
    }

    /* Tech list */

    .tech-list {
        display: flex;
        list-style: none;
        column-gap: 1.1rem;
        row-gap: 0.45rem;
        flex-wrap: wrap;
        margin-left: 0 !important;
        white-space: nowrap;
    }

    @media screen and (max-width: 600px) {
        .card-data {
            padding: 1rem;
        }

        .card-header .job-title {
            font-size: 1.2rem;
        }

        .card-header .job-time {
            font-size: 0.93rem;
        }
    }
</style>
<article class="job-card">
    <span class="circle"></span>
    <div class="job-picture">
        <img
            src={`/jobs/${jobPicture}`}
            alt={`Logo of ${jobCompany} where I worked as a ${jobTitle}`}
            loading="lazy"
        />
    </div>
    <div class="job-data">
        <div class="card-header">
            <h1 class="job-title">{jobTitle}</h1>
            <span class="job-company">{jobCompany}</span>
            <span class="job-time">{jobTime}</span>
        </div>
        <p class="description">{jobDescription}</p>
        <div class="accordion" id={`accordion-${id}`}>
            <div class="accordion-section">
                <span class="accordion-title">Actividades</span>
                <ul>
                    {jobActivities.map((activity) => <li>{activity}</li>)}
                </ul>
            </div>
            <div class="accordion-section">
                <span class="accordion-title">Tecnologías</span>
                <ul class="tech-list">
                    {
                        jobTechnologies.map((technology) => (
                            <TechItem
                                name={technology.name}
                                icon={technology.icon}
                            />
                        ))
                    }
                </ul>
            </div>
        </div>
        <AccordionButton dataTarget={id} />
    </div>
</article>
