---
import TechItem from "./TechItem.astro";
import "../styles/project-modal.css";
import { Carousel } from "./Carousel.jsx";

const {
    id,
    carouselImages,
    projectTitle,
    projectDescription,
    projectTechnologies,
    projectRepo,
    projectSite,
} = Astro.props;
---

<div class="modal" id={`modal-${id}`}>
    <div class="modal-card">
        <Carousel client:visible images={carouselImages} path={id} />
        <div class="modal-data-container">
            <h1>{projectTitle}</h1>
            <div class="project-row-links">
                {
                    projectRepo && (
                        <a href={projectRepo} class="btn" target="_blank">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="21"
                                height="21"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-github"
                            >
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                            </svg>
                            GitHub
                        </a>
                    )
                }
                {
                    projectSite && (
                        <a href={projectSite} class="btn" target="_blank">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                height="21"
                                width="21"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                                />
                            </svg>
                            Ir al sitio
                        </a>
                    )
                }
            </div>
            <p>{projectDescription}</p>
            <div class="accordion-section">
                <span class="accordion-title">Tecnologías</span>
                <ul class="tech-list">
                    {
                        projectTechnologies.map((technology) => (
                            <TechItem
                                name={technology.name}
                                icon={technology.icon}
                            />
                        ))
                    }
                </ul>
            </div>
        </div>
        <button class="close-modal-btn" data-target={`modal-${id}`}>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.6"
                height="22"
                width="22"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>
</div>
<script>
    const $modals = document.querySelectorAll(".modal");
    $modals.forEach((modal) => {
        const modalHeight = modal.clientHeight;
        const modalCardHeight = modal.firstElementChild.clientHeight;

        if (modalCardHeight > modalHeight) modal.style.overflow = "scroll";
    });
</script>
